/* VARIABLES CSS */
:root {
  --first-color-text: #151111;
  --second-color-text: #aaa;
  --third-color-text:  #a85de6;
  --fourth-color-text: #fff;
  --fifth-color-text: #bababa;
  --fondo-body-primary: linear-gradient(90deg, rgba(255,0,255,1) 0%, rgba(250,107,244,0.9136029411764706) 35%, rgba(128,0,255,1) 100%);
  --fondo-body-second: #ffe0d2;
  --fondo-body-third: #fff;
  --boton-color: #c917ec;
  --color-boton-hover: #a85de6;
  --input-form:  #c917ec;
}

/* ========BASE======= */
*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body, input {
  font-family: 'Poppins', sans-serif;
}

main {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  background-color: var(--fondo-body-primary);
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
